@model IssueTicketsModel
@{
    ViewBag.Title = "Issue tickets";
}

@if (Model.Tickets.Any())
{
    <form asp-action="IssueTickets" asp-controller="Ticket">
        <div asp-validation-summary="All" class="text-danger"></div>

        @for (int i = 0; i < Model.Tickets.Count; i++)
        {
            <div class="issue-ticket" style="font-size:20px;margin-left:20px;">
                <div class="issue-ticket-remove">
                    <i class="fa fa-window-close" aria-hidden="true"></i>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Tickets[i].ScheduleId" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Tickets[i].UserId" />
                </div>
                <div class="form-group">
                    <label class="control-label">Destination</label>
                    <br />
                    <label class="control-label">@Model.Tickets[i].DestinationName</label>
                </div>
                <div class="form-group">
                    <label class="control-label">Departure Time</label>
                    <br />
                    <label class="control-label">@Model.Tickets[i].DepartureTime</label>
                </div>
                <div class="form-group">
                    <label class="control-label">Arrival Time</label>
                    <br />
                    <label class="control-label">@Model.Tickets[i].ArrivalTime</label>
                </div>
                <div class="form-group">
                    <label asp-for="Tickets[i].Fio" class="control-label">FIO</label>
                    <input style="margin-left:0px;" type="text" asp-for="Tickets[i].Fio" class="form-control" style="max-width:400px" />
                </div>
                <div class="form-group">
                    <label asp-for="Tickets[i].DestinationPrice" class="control-label">Price</label>
                    <input disabled type="number" asp-for="Tickets[i].DestinationPrice" class="form-control" style="max-width:400px;    background-color: #ffffff36; margin-left:0px;" />
                </div>
            </div>
        }
        <br />
        <div class="form-group">
            <input type="submit" value="Buy" class="btn btn-outline-success" style="width: 100px;margin-left:20px;font-size:20px;" />
        </div>
    </form>
}
else
{
    <div class="text-center">
        <h1 class="display-4">The cart is empty</h1>
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        (function ($) {
            $(function () {

                $(document).on("click", ".issue-ticket-remove", function () {
                    const url = 'https://localhost:44362/Schedule/RemoveTicket';

                    var ticket = $(this).parent();

                    console.log(ticket);
                    console.log(ticket.find('input[name$="ScheduleId"]'));

                    let scheduleId = Number.parseInt(ticket.find('input[name$="ScheduleId"]').val());

                    console.log(scheduleId);

                    fetch(url,
                        {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ scheduleId: scheduleId })
                        })
                        .then(rez => { return rez.json() })
                        .then(data => { 
                            $('#basket').html(data);        

                            ticket.remove();
                        })
                });
            });
        })(jQuery);
    </script>
}