
<div class="text-center">
    <div class="alert alert-success" role="alert">
        You successfully bought tickets. 
        <a asp-controller="Ticket" asp-action="UserTickets">Your tickets</a>
    </div>
</div>