@model CreateDestinationModel
@{
    ViewBag.Title = "Create destination";
}

<form asp-action="CreateDestination" asp-controller="Admin">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label style=" margin-left: 39px;font-size:26px;"  asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label style=" margin-left: 39px;font-size:26px;" asp-for="Price" class="control-label">Price</label>
        <input type="number" asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label style=" margin-left: 39px;font-size:26px;"  class="control-label">Departure</label>
        <select class="custom-select" aria-label="Select departure stop"
                asp-for="DepartureId"
                asp-items="@(new SelectList(Model.Stops, nameof(Stop.Id), nameof(Stop.Name)))">
        </select>
    </div>
    <div class="form-group">
        <label style=" margin-left: 39px;font-size:26px;"  class="control-label">Arrival</label>
        <select class="custom-select" aria-label="Select departure stop"
                asp-for="ArrivalId"
                asp-items="@(new SelectList(Model.Stops, nameof(Stop.Id), nameof(Stop.Name)))">
        </select>
    </div>
    <div class="form-group">
        <label style=" margin-left: 39px;font-size:26px;"  class="control-label">Train</label>
        <select class="custom-select" aria-label="Select departure stop"
                asp-for="TrainId"
                asp-items="@(new SelectList(Model.Trains, nameof(Train.Id), nameof(Train.Number)))">
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-outline-secondary" />
    </div>
</form>