@model CreateScheduleModel
@{
    ViewBag.Title = "Create schedule";
}

<form asp-action="CreateSchedule" asp-controller="Admin">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label style=" margin-left: 39px;font-size:26px;" class="control-label">Destination</label>
        <select class="custom-select" style="width:92%;" aria-label="Select Destination"
                asp-for="DestinationId"
                asp-items="@(new SelectList(Model.Destinations, nameof(Destination.Id), nameof(Destination.Name)))">
        </select>
    </div>
    <div class="form-row">
        <div class="col">
            <label style=" margin-left: 39px;font-size:26px;"  asp-for="DepartureTime" class="control-label">Departure time</label>
            <div class="input-group date" id="datetimepicker1">
                <input type="datetime" asp-for="DepartureTime" class="form-control" />
                <div class="input-group-addon input-group-append">
                    <div class="input-group-text">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <label style=" margin-left: 0px;font-size:26px;" asp-for="ArrivalTime" class="control-label">Arrival time</label>
            <div class="input-group date" id="datetimepicker1">
                <input style=" margin-left: 0px;font-size:26px;" type="datetime" asp-for="ArrivalTime" class="form-control" />
                <div class="input-group-addon input-group-append">
                    <div class="input-group-text">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-outline-secondary" />
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        (function ($) {
            $(function () {
                $('.date').datetimepicker({
                    defaultDate: new Date(),
                    format: 'DD/MM/YYYY HH:mm',
                    minDate: new Date().toLocaleDateString("en-US")
                });
            });
        })(jQuery);

    </script>
}