@model CreateTrainModel
@{
    ViewBag.Title = "Create train";
}

<form asp-action="CreateTrain" asp-controller="Admin">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label style=" margin-left: 39px;font-size:26px;"  asp-for="Number" class="control-label">Number</label>
        <input type="text" asp-for="Number" class="form-control" />
    </div>
    <div class="form-group">
        <label style=" margin-left: 39px;font-size:26px;"  asp-for="TrainType" class="control-label">TrainType</label>
        <input type="text" asp-for="TrainType" class="form-control" />
    </div>
    <div class="form-group">
        <label style=" margin-left: 39px;font-size:26px;"  asp-for="Seats" class="control-label">Seats</label>
        <input type="number" asp-for="Seats" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-outline-secondary" />
    </div>
</form>