@model TrainScheduler.Model.ViewModels.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="wrapper">
    <form class="login1" method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="All" class="text-danger"></div>
        <p class="title">Sign Up</p>
        <input type="email" asp-for="Email" placeholder="Email" autofocus />
        <i class="fa fa-user"></i>
        <input type="password" asp-for="Password" placeholder="Password" />
        <i class="fa fa-key"></i>
        <input type="password" asp-for="PasswordConfirm" placeholder="PasswordConfirm" />
        <i class="fa fa-key"></i>
        <button type="submit" value="Register">
            <span class="state">Sign Up</span>
        </button>
    </form>
</div>

