@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Train Scheduler</h1>
</div>

<br />

<div>
    <a class="nav-link text-dark" asp-controller="Schedule" asp-action="Schedule">Schedule for day</a>
</div>

<div>
    <a class="nav-link text-dark" asp-controller="Schedule" asp-action="AvailableSeats">AvailableSeats</a>
</div>
