@{
    ViewData["Title"] = "Home Page";
}
<section class="hero">
	<div class='hero__container'>
		<div class="hero__content">
			<h1 class="hero__title">Perfect way to book a  train ticket</h1>
			<p class="hero__text text">
				Book tickets from the comfort of your home. Quick and easy
			</p>
			<div class="hero__filter filter">

				<div class="filter__block block-filter">
					<div class="block-filter__button">
						
						
						<div>
							<a class="nav-link text-dark" asp-controller="Schedule" asp-action="Schedule">Schedule for day</a>
						</div>
						<div class="block-filter__icon">
							<svg width="20" height="14" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.50012 5.75C4.69202 5.75 4.88402 5.67065 5.03027 5.51196L8.78027 1.44946C9.07324 1.13208 9.07324 0.61792 8.78027 0.300537C8.4873 -0.0168457 8.0127 -0.0168457 7.71973 0.300537L4.50012 3.78984L1.27981 0.301172C0.986838 -0.0162111 0.512229 -0.0162111 0.21926 0.301172C-0.0737085 0.618555 -0.0737085 1.13271 0.21926 1.4501L3.96926 5.5126C4.11574 5.67129 4.30793 5.75 4.50012 5.75Z" fill="#1AA090" />
							</svg>
						</div>
					</div>
					<div class="block-filter__dropdown">
						<div>
							<a class="nav-link text-dark" asp-controller="Schedule" asp-action="Schedule">Schedule for day</a>
						</div>

						<div>
							<a class="nav-link text-dark" asp-controller="Schedule" asp-action="AvailableSeats">AvailableSeats</a>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="hero__img"><img src="~/img/Belarusian-Railway-orders-ten-broad-gauge-FLIRT-trains-from-Stadler.jpg" alt="house"></div>
	</div>
	<svg class="hero-deco" width="128" height="501" viewBox="0 0 128 501" fill="none"
		 xmlns="http://www.w3.org/2000/svg">
		<rect x="92.4355" y="314.033" width="127.863" height="123.867" transform="rotate(42.3449 92.4355 314.033)"
			  fill="var(--accent-color)" stroke="#121B25" stroke-width="12" />
		<rect x="92.4355" y="212.355" width="127.863" height="123.867" transform="rotate(42.3449 92.4355 212.355)"
			  fill="var(--accent-color)" stroke="#121B25" stroke-width="12" />
		<rect x="92.4355" y="110.678" width="127.863" height="123.867" transform="rotate(42.3449 92.4355 110.678)"
			  fill="var(--accent-color)" stroke="#121B25" stroke-width="12" />
		<rect x="92.4355" y="9" width="127.863" height="123.867" transform="rotate(42.3449 92.4355 9)"
			  fill="var(--accent-color)" stroke="#121B25" stroke-width="12" />
	</svg>
</section>
<section class="featured">
</section>
<section class="popular">
	<div class='popular__container'>
		<h2 class="popular__title title">Popular Destinations

		</h2>
		<div class="popular__slider">
			<div class="swiper popular-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide popular-slide">
						<div class="popular-slide__thumb">
							<img src="img/glav2-55.jpg" alt="">
						</div>
						<div class="popular-slide__text">
							<div class="popular-slide__title">Minsk-Brest</div>
							<div class="popular-slide__desc text">Price from 8 BYN</div>
						</div>
						</div>
					<div class="swiper-slide popular-slide">
						<div class="popular-slide__thumb">
							<img src="img/dostoprimechatelnosti-gomelya-3-1.jpg" alt="">
						</div>
						<div class="popular-slide__text">
							<div class="popular-slide__title">Minsk-Gomel</div>
							<div class="popular-slide__desc text">Price from 19 to 26 BYN</div>
						</div>
						<div class="popular-slide__labels">
							<div class="popular-slide__label">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.125 4.125C2.99406 4.125 2.0625 5.05656 2.0625 6.1875V10.8494C1.64312 11.2283 1.375 11.7707 1.375 12.375V18.5625H4.8125V17.1875H17.1875V18.5625H20.625V12.375C20.625 11.7707 20.3569 11.2283 19.9375 10.8494V6.1875C19.9375 5.05656 19.0059 4.125 17.875 4.125H4.125ZM4.125 5.5H17.875C18.2566 5.5 18.5625 5.80594 18.5625 6.1875V10.3125H17.1875V9.625C17.1875 8.49406 16.2559 7.5625 15.125 7.5625H12.375C11.8484 7.5625 11.3651 7.76875 11 8.09944C10.6242 7.75605 10.1341 7.56468 9.625 7.5625H6.875C5.74406 7.5625 4.8125 8.49406 4.8125 9.625V10.3125H3.4375V6.1875C3.4375 5.80594 3.74344 5.5 4.125 5.5ZM6.875 8.9375H9.625C10.0066 8.9375 10.3125 9.24344 10.3125 9.625V10.3125H6.1875V9.625C6.1875 9.24344 6.49344 8.9375 6.875 8.9375ZM12.375 8.9375H15.125C15.5066 8.9375 15.8125 9.24344 15.8125 9.625V10.3125H11.6875V9.625C11.6875 9.24344 11.9934 8.9375 12.375 8.9375ZM3.4375 11.6875H18.5625C18.9441 11.6875 19.25 11.9934 19.25 12.375V17.1875H18.5625V15.8125H3.4375V17.1875H2.75V12.375C2.75 11.9934 3.05594 11.6875 3.4375 11.6875Z"
										  fill="var(--accent-color)" />
								</svg>
								<span>4 Beds</span>
							</div>
							<div class="popular-slide__label">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17.875 2.75C16.3556 2.75 15.125 3.98062 15.125 5.5H13.75V6.875H17.875V5.5H16.5C16.5 4.68119 17.0562 4.125 17.875 4.125C18.6938 4.125 19.25 4.68119 19.25 5.5V9.625H0.6875V11H1.50425L2.55612 16.2209V16.2422C2.63597 16.5927 2.80427 16.917 3.04496 17.184C3.28566 17.4511 3.59074 17.652 3.93112 17.7677L3.4375 19.25H4.8125L5.2635 17.875H16.7365L17.1875 19.25H18.5625L18.0682 17.7677C18.788 17.5477 19.3469 16.9703 19.5078 16.2422V16.2209L20.4964 11H21.3125V9.625H20.625V5.5C20.625 3.98062 19.3944 2.75 17.875 2.75ZM2.90056 11H19.1208L18.1541 15.9631C18.0737 16.2607 17.8214 16.5 17.4666 16.5H4.598C4.2295 16.5 3.97994 16.2559 3.9105 15.9411L2.90056 11Z"
										  fill="var(--accent-color)" />
								</svg>
								<span>2 Bath</span>
							</div>
							<div class="popular-slide__label">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.4375 3.4375V8.25H4.8125V13.75H3.4375V18.5625H8.25V17.1875H13.75V18.5625H18.5625V13.75H17.1875V8.25H18.5625V3.4375H13.75V4.8125H8.25V3.4375H3.4375ZM4.8125 4.8125H6.875V6.875H4.8125V4.8125ZM15.125 4.8125H17.1875V6.875H15.125V4.8125ZM8.25 6.1875H13.75V8.25H15.8125V13.75H13.75V15.8125H8.25V13.75H6.1875V8.25H8.25V6.1875ZM4.8125 15.125H6.875V17.1875H4.8125V15.125ZM15.125 15.125H17.1875V17.1875H15.125V15.125Z"
										  fill="var(--accent-color)" />
								</svg>
								<span>1203 Sqft.</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide popular-slide">
						<div class="popular-slide__thumb">
							<img src="img/7.jpg" alt="">
						</div>
						<div class="popular-slide__text">
							<div class="popular-slide__title">Allpine lenevote</div>
							<div class="popular-slide__desc text">1087 Pin Oak Drive, Clinton, USA</div>
						</div>
						<div class="popular-slide__labels">
							<div class="popular-slide__label">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.125 4.125C2.99406 4.125 2.0625 5.05656 2.0625 6.1875V10.8494C1.64312 11.2283 1.375 11.7707 1.375 12.375V18.5625H4.8125V17.1875H17.1875V18.5625H20.625V12.375C20.625 11.7707 20.3569 11.2283 19.9375 10.8494V6.1875C19.9375 5.05656 19.0059 4.125 17.875 4.125H4.125ZM4.125 5.5H17.875C18.2566 5.5 18.5625 5.80594 18.5625 6.1875V10.3125H17.1875V9.625C17.1875 8.49406 16.2559 7.5625 15.125 7.5625H12.375C11.8484 7.5625 11.3651 7.76875 11 8.09944C10.6242 7.75605 10.1341 7.56468 9.625 7.5625H6.875C5.74406 7.5625 4.8125 8.49406 4.8125 9.625V10.3125H3.4375V6.1875C3.4375 5.80594 3.74344 5.5 4.125 5.5ZM6.875 8.9375H9.625C10.0066 8.9375 10.3125 9.24344 10.3125 9.625V10.3125H6.1875V9.625C6.1875 9.24344 6.49344 8.9375 6.875 8.9375ZM12.375 8.9375H15.125C15.5066 8.9375 15.8125 9.24344 15.8125 9.625V10.3125H11.6875V9.625C11.6875 9.24344 11.9934 8.9375 12.375 8.9375ZM3.4375 11.6875H18.5625C18.9441 11.6875 19.25 11.9934 19.25 12.375V17.1875H18.5625V15.8125H3.4375V17.1875H2.75V12.375C2.75 11.9934 3.05594 11.6875 3.4375 11.6875Z"
										  fill="var(--accent-color)" />
								</svg>
								<span>4 Beds</span>
							</div>
							<div class="popular-slide__label">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17.875 2.75C16.3556 2.75 15.125 3.98062 15.125 5.5H13.75V6.875H17.875V5.5H16.5C16.5 4.68119 17.0562 4.125 17.875 4.125C18.6938 4.125 19.25 4.68119 19.25 5.5V9.625H0.6875V11H1.50425L2.55612 16.2209V16.2422C2.63597 16.5927 2.80427 16.917 3.04496 17.184C3.28566 17.4511 3.59074 17.652 3.93112 17.7677L3.4375 19.25H4.8125L5.2635 17.875H16.7365L17.1875 19.25H18.5625L18.0682 17.7677C18.788 17.5477 19.3469 16.9703 19.5078 16.2422V16.2209L20.4964 11H21.3125V9.625H20.625V5.5C20.625 3.98062 19.3944 2.75 17.875 2.75ZM2.90056 11H19.1208L18.1541 15.9631C18.0737 16.2607 17.8214 16.5 17.4666 16.5H4.598C4.2295 16.5 3.97994 16.2559 3.9105 15.9411L2.90056 11Z"
										  fill="var(--accent-color)" />
								</svg>
								<span>2 Bath</span>
							</div>
							<div class="popular-slide__label">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.4375 3.4375V8.25H4.8125V13.75H3.4375V18.5625H8.25V17.1875H13.75V18.5625H18.5625V13.75H17.1875V8.25H18.5625V3.4375H13.75V4.8125H8.25V3.4375H3.4375ZM4.8125 4.8125H6.875V6.875H4.8125V4.8125ZM15.125 4.8125H17.1875V6.875H15.125V4.8125ZM8.25 6.1875H13.75V8.25H15.8125V13.75H13.75V15.8125H8.25V13.75H6.1875V8.25H8.25V6.1875ZM4.8125 15.125H6.875V17.1875H4.8125V15.125ZM15.125 15.125H17.1875V17.1875H15.125V15.125Z"
										  fill="var(--accent-color)" />
								</svg>
								<span>1203 Sqft.</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide popular-slide">
						<div class="popular-slide__thumb">
							<img src="img/slider/1.jpg" alt="">
						</div>
						<div class="popular-slide__text">
							<div class="popular-slide__title">Aliva Priva Jalvin</div>
							<div class="popular-slide__desc text">1087 Pin Oak Drive, Clinton, USA</div>
						</div>
						<div class="popular-slide__labels">
							<div class="popular-slide__label">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.125 4.125C2.99406 4.125 2.0625 5.05656 2.0625 6.1875V10.8494C1.64312 11.2283 1.375 11.7707 1.375 12.375V18.5625H4.8125V17.1875H17.1875V18.5625H20.625V12.375C20.625 11.7707 20.3569 11.2283 19.9375 10.8494V6.1875C19.9375 5.05656 19.0059 4.125 17.875 4.125H4.125ZM4.125 5.5H17.875C18.2566 5.5 18.5625 5.80594 18.5625 6.1875V10.3125H17.1875V9.625C17.1875 8.49406 16.2559 7.5625 15.125 7.5625H12.375C11.8484 7.5625 11.3651 7.76875 11 8.09944C10.6242 7.75605 10.1341 7.56468 9.625 7.5625H6.875C5.74406 7.5625 4.8125 8.49406 4.8125 9.625V10.3125H3.4375V6.1875C3.4375 5.80594 3.74344 5.5 4.125 5.5ZM6.875 8.9375H9.625C10.0066 8.9375 10.3125 9.24344 10.3125 9.625V10.3125H6.1875V9.625C6.1875 9.24344 6.49344 8.9375 6.875 8.9375ZM12.375 8.9375H15.125C15.5066 8.9375 15.8125 9.24344 15.8125 9.625V10.3125H11.6875V9.625C11.6875 9.24344 11.9934 8.9375 12.375 8.9375ZM3.4375 11.6875H18.5625C18.9441 11.6875 19.25 11.9934 19.25 12.375V17.1875H18.5625V15.8125H3.4375V17.1875H2.75V12.375C2.75 11.9934 3.05594 11.6875 3.4375 11.6875Z"
										  fill="var(--accent-color)" />
								</svg>
								<span>4 Beds</span>
							</div>
							<div class="popular-slide__label">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17.875 2.75C16.3556 2.75 15.125 3.98062 15.125 5.5H13.75V6.875H17.875V5.5H16.5C16.5 4.68119 17.0562 4.125 17.875 4.125C18.6938 4.125 19.25 4.68119 19.25 5.5V9.625H0.6875V11H1.50425L2.55612 16.2209V16.2422C2.63597 16.5927 2.80427 16.917 3.04496 17.184C3.28566 17.4511 3.59074 17.652 3.93112 17.7677L3.4375 19.25H4.8125L5.2635 17.875H16.7365L17.1875 19.25H18.5625L18.0682 17.7677C18.788 17.5477 19.3469 16.9703 19.5078 16.2422V16.2209L20.4964 11H21.3125V9.625H20.625V5.5C20.625 3.98062 19.3944 2.75 17.875 2.75ZM2.90056 11H19.1208L18.1541 15.9631C18.0737 16.2607 17.8214 16.5 17.4666 16.5H4.598C4.2295 16.5 3.97994 16.2559 3.9105 15.9411L2.90056 11Z"
										  fill="var(--accent-color)" />
								</svg>
								<span>2 Bath</span>
							</div>
							<div class="popular-slide__label">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.4375 3.4375V8.25H4.8125V13.75H3.4375V18.5625H8.25V17.1875H13.75V18.5625H18.5625V13.75H17.1875V8.25H18.5625V3.4375H13.75V4.8125H8.25V3.4375H3.4375ZM4.8125 4.8125H6.875V6.875H4.8125V4.8125ZM15.125 4.8125H17.1875V6.875H15.125V4.8125ZM8.25 6.1875H13.75V8.25H15.8125V13.75H13.75V15.8125H8.25V13.75H6.1875V8.25H8.25V6.1875ZM4.8125 15.125H6.875V17.1875H4.8125V15.125ZM15.125 15.125H17.1875V17.1875H15.125V15.125Z"
										  fill="var(--accent-color)" />
								</svg>
								<span>1203 Sqft.</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide popular-slide">
						<div class="popular-slide__thumb">
							<img src="img/slider/2.jpg" alt="">
						</div>
						<div class="popular-slide__text">
							<div class="popular-slide__title">Hard line orchar</div>
							<div class="popular-slide__desc text">1087 Pin Oak Drive, Clinton, USA</div>
						</div>
						<div class="popular-slide__labels">
							<div class="popular-slide__label">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.125 4.125C2.99406 4.125 2.0625 5.05656 2.0625 6.1875V10.8494C1.64312 11.2283 1.375 11.7707 1.375 12.375V18.5625H4.8125V17.1875H17.1875V18.5625H20.625V12.375C20.625 11.7707 20.3569 11.2283 19.9375 10.8494V6.1875C19.9375 5.05656 19.0059 4.125 17.875 4.125H4.125ZM4.125 5.5H17.875C18.2566 5.5 18.5625 5.80594 18.5625 6.1875V10.3125H17.1875V9.625C17.1875 8.49406 16.2559 7.5625 15.125 7.5625H12.375C11.8484 7.5625 11.3651 7.76875 11 8.09944C10.6242 7.75605 10.1341 7.56468 9.625 7.5625H6.875C5.74406 7.5625 4.8125 8.49406 4.8125 9.625V10.3125H3.4375V6.1875C3.4375 5.80594 3.74344 5.5 4.125 5.5ZM6.875 8.9375H9.625C10.0066 8.9375 10.3125 9.24344 10.3125 9.625V10.3125H6.1875V9.625C6.1875 9.24344 6.49344 8.9375 6.875 8.9375ZM12.375 8.9375H15.125C15.5066 8.9375 15.8125 9.24344 15.8125 9.625V10.3125H11.6875V9.625C11.6875 9.24344 11.9934 8.9375 12.375 8.9375ZM3.4375 11.6875H18.5625C18.9441 11.6875 19.25 11.9934 19.25 12.375V17.1875H18.5625V15.8125H3.4375V17.1875H2.75V12.375C2.75 11.9934 3.05594 11.6875 3.4375 11.6875Z"
										  fill="var(--accent-color)" />
								</svg>
								<span>4 Beds</span>
							</div>
							<div class="popular-slide__label">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17.875 2.75C16.3556 2.75 15.125 3.98062 15.125 5.5H13.75V6.875H17.875V5.5H16.5C16.5 4.68119 17.0562 4.125 17.875 4.125C18.6938 4.125 19.25 4.68119 19.25 5.5V9.625H0.6875V11H1.50425L2.55612 16.2209V16.2422C2.63597 16.5927 2.80427 16.917 3.04496 17.184C3.28566 17.4511 3.59074 17.652 3.93112 17.7677L3.4375 19.25H4.8125L5.2635 17.875H16.7365L17.1875 19.25H18.5625L18.0682 17.7677C18.788 17.5477 19.3469 16.9703 19.5078 16.2422V16.2209L20.4964 11H21.3125V9.625H20.625V5.5C20.625 3.98062 19.3944 2.75 17.875 2.75ZM2.90056 11H19.1208L18.1541 15.9631C18.0737 16.2607 17.8214 16.5 17.4666 16.5H4.598C4.2295 16.5 3.97994 16.2559 3.9105 15.9411L2.90056 11Z"
										  fill="var(--accent-color)" />
								</svg>
								<span>2 Bath</span>
							</div>
							<div class="popular-slide__label">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.4375 3.4375V8.25H4.8125V13.75H3.4375V18.5625H8.25V17.1875H13.75V18.5625H18.5625V13.75H17.1875V8.25H18.5625V3.4375H13.75V4.8125H8.25V3.4375H3.4375ZM4.8125 4.8125H6.875V6.875H4.8125V4.8125ZM15.125 4.8125H17.1875V6.875H15.125V4.8125ZM8.25 6.1875H13.75V8.25H15.8125V13.75H13.75V15.8125H8.25V13.75H6.1875V8.25H8.25V6.1875ZM4.8125 15.125H6.875V17.1875H4.8125V15.125ZM15.125 15.125H17.1875V17.1875H15.125V15.125Z"
										  fill="var(--accent-color)" />
								</svg>
								<span>1203 Sqft.</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide popular-slide">
						<div class="popular-slide__thumb">
							<img src="img/slider/3.jpg" alt="">
						</div>
						<div class="popular-slide__text">
							<div class="popular-slide__title">Allpine lenevote</div>
							<div class="popular-slide__desc text">1087 Pin Oak Drive, Clinton, USA</div>
						</div>
						<div class="popular-slide__labels">
							<div class="popular-slide__label">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.125 4.125C2.99406 4.125 2.0625 5.05656 2.0625 6.1875V10.8494C1.64312 11.2283 1.375 11.7707 1.375 12.375V18.5625H4.8125V17.1875H17.1875V18.5625H20.625V12.375C20.625 11.7707 20.3569 11.2283 19.9375 10.8494V6.1875C19.9375 5.05656 19.0059 4.125 17.875 4.125H4.125ZM4.125 5.5H17.875C18.2566 5.5 18.5625 5.80594 18.5625 6.1875V10.3125H17.1875V9.625C17.1875 8.49406 16.2559 7.5625 15.125 7.5625H12.375C11.8484 7.5625 11.3651 7.76875 11 8.09944C10.6242 7.75605 10.1341 7.56468 9.625 7.5625H6.875C5.74406 7.5625 4.8125 8.49406 4.8125 9.625V10.3125H3.4375V6.1875C3.4375 5.80594 3.74344 5.5 4.125 5.5ZM6.875 8.9375H9.625C10.0066 8.9375 10.3125 9.24344 10.3125 9.625V10.3125H6.1875V9.625C6.1875 9.24344 6.49344 8.9375 6.875 8.9375ZM12.375 8.9375H15.125C15.5066 8.9375 15.8125 9.24344 15.8125 9.625V10.3125H11.6875V9.625C11.6875 9.24344 11.9934 8.9375 12.375 8.9375ZM3.4375 11.6875H18.5625C18.9441 11.6875 19.25 11.9934 19.25 12.375V17.1875H18.5625V15.8125H3.4375V17.1875H2.75V12.375C2.75 11.9934 3.05594 11.6875 3.4375 11.6875Z"
										  fill="var(--accent-color)" />
								</svg>
								<span>4 Beds</span>
							</div>
							<div class="popular-slide__label">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17.875 2.75C16.3556 2.75 15.125 3.98062 15.125 5.5H13.75V6.875H17.875V5.5H16.5C16.5 4.68119 17.0562 4.125 17.875 4.125C18.6938 4.125 19.25 4.68119 19.25 5.5V9.625H0.6875V11H1.50425L2.55612 16.2209V16.2422C2.63597 16.5927 2.80427 16.917 3.04496 17.184C3.28566 17.4511 3.59074 17.652 3.93112 17.7677L3.4375 19.25H4.8125L5.2635 17.875H16.7365L17.1875 19.25H18.5625L18.0682 17.7677C18.788 17.5477 19.3469 16.9703 19.5078 16.2422V16.2209L20.4964 11H21.3125V9.625H20.625V5.5C20.625 3.98062 19.3944 2.75 17.875 2.75ZM2.90056 11H19.1208L18.1541 15.9631C18.0737 16.2607 17.8214 16.5 17.4666 16.5H4.598C4.2295 16.5 3.97994 16.2559 3.9105 15.9411L2.90056 11Z"
										  fill="var(--accent-color)" />
								</svg>
								<span>2 Bath</span>
							</div>
							<div class="popular-slide__label">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.4375 3.4375V8.25H4.8125V13.75H3.4375V18.5625H8.25V17.1875H13.75V18.5625H18.5625V13.75H17.1875V8.25H18.5625V3.4375H13.75V4.8125H8.25V3.4375H3.4375ZM4.8125 4.8125H6.875V6.875H4.8125V4.8125ZM15.125 4.8125H17.1875V6.875H15.125V4.8125ZM8.25 6.1875H13.75V8.25H15.8125V13.75H13.75V15.8125H8.25V13.75H6.1875V8.25H8.25V6.1875ZM4.8125 15.125H6.875V17.1875H4.8125V15.125ZM15.125 15.125H17.1875V17.1875H15.125V15.125Z"
										  fill="var(--accent-color)" />
								</svg>
								<span>1203 Sqft.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-buttons">
				<div class="popular-slider-btn popular-slider-prev swiper-button-prev"></div>
				<div class="popular-slider-btn popular-slider-next swiper-button-next"></div>
			</div>
		</div>

		<div class="popular__link">
			  @if (User.Identity.IsAuthenticated)
                    {
				<a asp-controller="Schedule" asp-action="AvailableSeats" class="link">Book Tickets</a>
			}
			else
			{
				<a asp-controller="Schedule" asp-action="AvailableSeats" class="link">Available Seats</a>
			}
		</div>
	</div>
</section>
